{{#if this.error}}
  <p>Error: {{this.error}}</p>
{{/if}}

<label>
  Title
  <Input @value={{this.title}} @type="text" />
</label>
<label>
  Body
  <Textarea @value={{this.body}} />
</label>
<button type="button" {{on "click" this.create}}>Create</button>

<ul>
  {{#each this.model as |post|}}
    <li>
      <b>{{post.title}}</b>
      <i>{{post.createdAt}}</i>
      <ul>
        {{#each post.comments as |comment|}}
          <li>
            {{comment.body}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>